@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("dopracyjaderowerem.mobilnagdynia.pl") {

/* style w w¹skim oknie */
@media only screen and (max-width: 1000px) {
  /* uk³ad g³ówny */
  body {
    min-width: auto;
  }
  .art-sheet {
    width: auto;
  }
  .art-content-layout .art-content {
    width: auto;
    display: block;
    float: left;
  }
  .art-content-layout .art-sidebar1 {
    width: auto;
    float: left;
  }
  /* zbêdne */
  header .art-textblock,
  header .art-headline,
  header .art-slogan,
  header .art-shapes
  {
    display: none;
  }
  /* header back */
  .art-header,
  #art-header-bg {
    background-image: none;
  }
  body header.art-header {
    background-color: #015F8D;
  }
  /* nie logo (kontakt) */
  .art-logo.art-logo-1931633633 {
    display: none !important;
  }
  /* logo */
  .art-logo {
    position: static !important;
    display: block !important;
    float: right;
    height: auto;
    width: 8em;
  }
  .art-logo img {
    width: 100%;
  }
  /* fit menu */
  header.art-header .art-nav
  {
    width: calc(100% - 9em)
  }
  /* logo w tle na w¹skim */
  @media only screen and (max-width: 600px) {
    .art-logo {
      opacity: .5;
      position: absolute !important;
      bottom: auto !important;
      left: auto !important;
      right: 0 !important;
      top: 0 !important;
      width: 8em;
    }
    header.art-header .art-nav
    {
      width: 100%;
    }
  }
  /*
    menu
  */
  header.art-header {
    height: auto;
    position: relative;
  }
  header.art-header .art-nav {
    position: static;
  }
  ul.art-hmenu ul
  {
    visibility: visible;
  }
  /* ozdobniki */
  ul.art-hmenu li::before,
  ul.art-hmenu li::after,
  ul.art-hmenu ul::before,
  ul.art-hmenu ul::after {
    display: none !important;
  }
  ul.art-hmenu ul,
  ul.art-hmenu li,
  ul.art-hmenu a
  {
    position: static !important;
    display: inline-block !important;
    float: none !important;
    line-height: 1em !important;
    height: auto !important;
    width: auto !important;
    min-height: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
    font-size: 100% !important;
    border: 0px solid black !important;
    border-radius: 0px !important;
  }
  ul.art-hmenu a
  {
    background-color: rgba(0,0,0,0.1) !important;
  }
  ul.art-hmenu a
  {
    padding: .5em !important;
    margin: .5em !important;
  }
  /* mniej istotne pozycje w menu */
  /*
  strona g³ówna,
  wczeœniejsze edycje
  */
  ul.art-hmenu li.item-119,
  ul.art-hmenu li.item-241 {
    display: none !important;
  }
  /* jeszcze mniej pozycji w menu na w¹skim */
  @media only screen and (max-width: 400px) {
    /*
    zasady,
    profil,
    kontakt
    */
    ul.art-hmenu li.item-142,
    ul.art-hmenu li.item-141,
    ul.art-hmenu li.item-146 {
      display: none !important;
    }
  }

  /* formularz dodawania */
  .fabrikgrid_checkbox {
    margin: .2em 0;
    padding: .2em;
  }
  .fabrikGroup .row-fluid {
    margin-top: .2em;
  }
  fieldset label {
    width: auto !important;
  }
  #przejazd___data_przej_cal_cal_img
  {
    display: none;
  }
}
}